* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    justify-content: flex-end;
    padding: 15px 100px;
    gap: 30px;
    background-color: #1F2937;
}

.header .logo {
    color: white;
    display: flex;
    margin-right: auto;
    font-weight: bold;
    font-size: 24px;
}

.first-container {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 50px 100px;
    height: 250px;
    width: auto;
}

.text-container {
    display: inline-block;
}

.first-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    width: 300px;
    margin-bottom: 10px;
}

.sub-title {
    font-size: 18px;
    color: #E5E7EB;
    width: 400px;
    margin-bottom: 10px;
}

.button {
    background-color: #3882F6;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: #F9FAF8;
    width: 120px;
}

.placeholder-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.placeholder {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #eeeeee;
    color: #1F2937;
    width: 200px;
    height: 100px;
}

.second-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 25px 0 0 0;
}

.img-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 25px 25px 0 25px;
}

.img {
    display: flex;
    width: 130px;
    height: 130px;
    border-style: solid;
    border-color:#3882F6;
    border-radius: 15px;
}

.subtext-container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 55px;
    padding: 5px 0 86px 0;
}

.img-subtext {
    font-size: 16px;
    color: #1F2937;
    width: 130px;
}

.third-container {
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    width: auto;
    height: 300px;
}

.quote-container {
    padding: 100px 100px;
}

.quote {
    width: 700px;
    height: auto;
}

.quote-author {
    font-weight: bolder;
    margin-left: 555px;
}

.fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}

.content {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    padding:50px 100px;
    border-radius: 10px;
    color: white;
    width: 700px;
}

.bottom-title {
    font-size: 20px;
    font-weight: bold;
    width: 250px;
}

.bottom-subtext {
    font-size: 16px;
    margin-top: 5px;
    width: 500px;
}

.bottom-button {
    display: flex;
    background-color: #3882F6;
    color: white;
    border: solid;
    border-color: white;
    padding: 10px 30px;
    border-radius: 5px;
    width: 120px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #1F2937;
    color: white;
    padding: 25px 10px;
}
